* {
    margin: 0;
    padding: 0;
}

.backgroundflowers {
    margin-top: 0vw;
    display: grid;
    grid-template-columns: 20vw auto 20vw;
    grid-template-rows: 50vw 50vw 50vw;
    grid-gap: 6px;
    position: absolute;
    justify-items: start;
    width: 100vw;
    z-index: 1;
}

.backgroundflowers img {
    width: 25vw;
}

.div-cont {
    position: relative;
    z-index: 3;
    margin-top: 0;
}

body {
    background-image: linear-gradient(rgba(204, 139, 10, 0.5), blanchedalmond);
    width: 100%;
}

header nav {
    display: flex;
    position: absolute;
    width: 100%;
    height: 10%;
    justify-content: right;
}

header nav ul {
    display: flex;
    list-style: none;
    flex-grow: 0.5;
    justify-content: space-around;
    align-items: center;
    margin-inline-end: 60px;
}

header nav ul li {
    padding: 1%;
}

.logo {
    box-sizing: border-box;
    width: 200px;
    margin-left: 10%;
    margin-top: 2%;
    margin-bottom: 1%;
    border-radius: 25px;
    opacity: 0.9;
    border: 1px solid black;
}

.click {
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
    opacity: 0.8;
    text-decoration: underline;
    border-radius: 5px;
}

.click:hover {
    background: #f8a91550;
}

.click:active {
    box-shadow: inset 3px 2px 15px -5px #252525;
}

.click:visited {
    text-decoration: none;
    color: black !important;
}

main {
    display: flex;
    justify-content: space-around;
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 1%;
    margin-bottom: 5%;
    flex-wrap: wrap;
}

img.image {
    box-sizing: border-box;
    width: 300px;
    height: 450px;
    object-fit: cover;
    object-position: 30%;
    border: 1px solid rgba(179, 119, 46, 0.753);
    border-radius: 10px;
}

.artist {
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
    text-align: center;
}

h1 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 5%;
    margin-bottom: 4%;
}

.descr {
    width: min(90%, 800px);
    font-size: larger;
    text-align: center;
    border: 1px solid rgba(179, 119, 46, 0.753);
    border-radius: 10px;
    padding: 2%;
    margin-inline: auto;
    margin-top: 2%;
    margin-bottom: 5%;
}

a {
    color: black;
    text-decoration: none;
}

#Jade {
    display: flex;
    margin: 0 auto;
}